/* Local dev helpers */
/* Public */
body {
  font-family: Arial, Helvetica, sans-serif;
}
.trac-embed {
  max-width: 1000px;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  border: 1px solid black;
  padding: 10px 20px;
  margin-bottom: 60px;
  border-radius: 20px;
}

.nav-items {
  display: flex;
  gap: 20px;
}

/* Trac styles 2*/
#hj-jobs-board-content #hj-content #hj-select-sector .hj-css-sector-icon {
  background-color: rgb(240, 240, 240);
  box-shadow: none;
  border-radius: 5px;
  border-bottom: none;
  border: 1px solid rgba(0, 0, 0, 0.108);
  -webkit-box-shadow: 2px 6px 28px 0px rgba(0, 0, 0, 0.032);
  -moz-box-shadow: 2px 6px 28px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 2px 6px 28px 0px rgba(0, 0, 0, 0.032);
  font-weight: 300;
}

#hj-feed-wrapper #hj-content #hj-select-sector .hj-css-sector-icon:hover,
#hj-feed-wrapper #hj-content #hj-select-sector .hj-css-sector-icon:hover h3 {
  background-color: rgb(73, 73, 73);
  color: white;
}

#hj-content
  #hj-select-sector
  .hj-css-sector-default-buttons
  span.hj-css-icon-text {
  font-weight: unset;
}

#hj-menu {
  display: none !important;
}

#hj-select-sector {
  display: flex;
  flex-direction: column;
}
#hj-select-sector h2 {
  order: 1;
}
#hj-select-sector .clearfix {
  order: 3;
}
#hj-select-sector .hj-job-search {
  order: 2;
}

/* Removing yellow COVID sign */
div[style="margin: 1rem; padding: 1.2rem; border: 1px solid lightgrey; font-size: 1.2rem; line-height: 1; text-align: center; background-color: yellow;"] {
  display: none;
}

/* Add breakpoints for responsibility */
ul.clearfix {
  grid-column-gap: 40px;
  grid-row-gap: 80px;
  flex-wrap: wrap;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  display: grid;
}

ul.clearfix li {
  margin-bottom: 20px;
  align-self: stretch;
  height: 100%;
  border-top-right-radius: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.clearfix li a {
  height: 100%;
}

/* Search bar */
#hj-select-sector .form-widget {
  display: flex;
  gap: 20px;
}

.hj-css-sector-icon {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.hj-css-sector-icon div:nth-of-type(2) {
  width: 100% !important;
  height: 100%;
}

.hj-css-sector-icon .hj-css-icon {
  width: 100% !important;
  height: 200px;
}

.hj-css-sector-icon .hj-css-icon img {
  object-fit: cover;
}

.hj-css-sector-icon .hj-css-icon-text {
  margin: 20px 0 !important;
}
