/* Local dev helpers Final */
/* Public */
body {
  font-family: Arial, Helvetica, sans-serif;
}
.trac-embed {
  max-width: 1000px;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
$primary: #2c6349;
$primary-33: #2c634933;
$text: rgb(29, 66, 48);
$primary-gradient: linear-gradient(71deg, #1d4230 0%, #4d7c66 100%);

.trac-embed {
  color: $text;
}
