/* Trac styles 2*/
#hj-jobs-board-content #hj-content #hj-select-sector .hj-css-sector-icon {
  background-color: white;
  border-radius: 5px;
  font-weight: 300;
}

#hj-content
  #hj-select-sector
  .hj-css-sector-default-buttons
  span.hj-css-icon-text {
  font-weight: unset;
}

#hj-menu {
  display: none !important;
}

#hj-select-sector {
  display: flex;
  flex-direction: column;
}
#hj-select-sector h2 {
  order: 1;
}
#hj-select-sector .clearfix {
  order: 3;
}
#hj-select-sector .hj-job-search {
  order: 2;
}

/* Removing yellow COVID sign */
div[style="margin: 1rem; padding: 1.2rem; border: 1px solid lightgrey; font-size: 1.2rem; line-height: 1; text-align: center; background-color: yellow;"] {
  display: none;
}

/* Add breakpoints for responsibility */
// Grid
ul.clearfix {
  // grid-column-gap: 40px;
  // grid-row-gap: 80px;
  // grid-template-rows: auto auto;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-auto-columns: 1fr;
  // flex-wrap: wrap;
  // justify-content: space-around;
  // display: grid;
  // max-width: none !important;
  // display: flex;
}

// .clearfix li a {
//   height: 100%;
// }

/* Search bar */
#hj-select-sector .form-widget {
  display: flex;
  gap: 20px;
}

.hj-css-sector-icon {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: green;
}

.hj-css-sector-icon div:nth-of-type(2) {
  width: 100% !important;
  height: 100%;
}

.hj-css-sector-icon .hj-css-icon {
  width: 100% !important;
}

.hj-css-sector-icon .hj-css-icon img {
  object-fit: cover;
}

.hj-css-sector-icon .hj-css-icon-text {
  margin: 20px 0 !important;
}

// Sector grid
#hj-select-sector ul.clearfix {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;

  padding: 0;

  //   List item
  li {
    list-style: none;
    align-self: stretch;
    height: 100%;
    border-top-right-radius: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    // border: 1px solid rgba(0, 0, 0, 0.33);
    border: 1px solid $primary;
    text-decoration: none;

    // Image
    img {
      height: 200px;
      border-top-right-radius: 100px;
      // border-top-left-radius: 10px;
      // border-bottom-left-radius: 10px;
      // border-bottom-right-radius: 10px;
    }

    // Link
    a {
      text-decoration: none;
      //   Text block
      .hj-css-sector-icon div:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
          color: $text !important;
        }
      }
    }
  }
}

#hj-feed-wrapper #hj-content #hj-select-sector .hj-css-sector-icon,
#hj-feed-wrapper #hj-content #hj-select-sector .hj-css-sector-icon h3 {
  background-color: white;
  color: white;
}
#hj-feed-wrapper #hj-content #hj-select-sector .hj-css-sector-icon:hover,
#hj-feed-wrapper #hj-content #hj-select-sector .hj-css-sector-icon:hover h3 {
  background-color: $primary !important;
  color: white !important;
}
