/* Local dev helpers Final */
/* Public */
body {
  font-family: Arial, Helvetica, sans-serif;
}

.trac-embed {
  max-width: 1000px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trac-embed {
  color: rgb(29, 66, 48);
}

#hj-feed-content nav {
  display: none;
}

#hj-loading-section {
  display: none;
}

#hj-select-sector {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#hj-select-sector h2:nth-child(1) {
  text-align: center;
}
#hj-select-sector div[style*="margin: 1rem; padding: 1.2rem; border: 1px solid lightgrey; font-size: 1.2rem; line-height: 1; text-align: center; background-color: yellow;"] {
  margin: 0 !important;
  border-radius: 10px;
  background-color: #2c6349 !important;
  color: white;
}
#hj-select-sector div[style*="margin: 1rem; padding: 1.2rem; border: 1px solid lightgrey; font-size: 1.2rem; line-height: 1; text-align: center; background-color: yellow;"] a {
  color: white;
}
#hj-select-sector ul.clearfix {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 0;
}
#hj-select-sector ul.clearfix li {
  list-style: none;
  width: 300px;
  border-top-right-radius: 100px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.33);
  transition: all 0.2s;
}
#hj-select-sector ul.clearfix li:hover {
  box-shadow: -4px 4px 19px -7px rgba(0, 0, 0, 0.27);
}
#hj-select-sector ul.clearfix li a {
  text-decoration: none !important;
  color: rgb(29, 66, 48) !important;
}
#hj-select-sector ul.clearfix li .hj-css-sector-icon {
  background-color: transparent !important;
  transition: all 0.2s;
}
#hj-select-sector ul.clearfix li .hj-css-sector-icon:hover {
  background: rgb(29, 66, 48) !important;
  background-color: rgb(29, 66, 48) !important;
  color: white !important;
}
#hj-select-sector ul.clearfix li .hj-css-sector-icon .hj-css-icon {
  height: 300px;
}
#hj-select-sector ul.clearfix li .hj-css-sector-icon .hj-css-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 100px;
}
#hj-select-sector ul.clearfix li .hj-css-sector-icon div:nth-child(2) {
  padding: 20px;
  text-align: center;
}
#hj-select-sector ul.clearfix li .hj-css-sector-icon h3 {
  margin: 0;
  color: inherit !important;
}

#hj-select-sector .hj-css-sector-icon:hover h3 {
  background-color: inherit !important;
  color: inherit !important;
}

.hj-job-search #JobSearch_default {
  border: none;
  padding: none;
}
.hj-job-search #JobSearch_default .form-widget-container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.hj-job-search #JobSearch_default .form-widget-container .form-widget {
  display: flex !important;
  flex-direction: column;
  gap: 20px;
}
.hj-job-search #JobSearch_default .form-widget-container .form-widget input {
  padding: 5px;
}
.hj-job-search #JobSearch_default .form-widget-container .form-widget .form-control {
  color: rgb(29, 66, 48);
}
.hj-job-search #JobSearch_default .form-widget-container .form-widget .hj-button {
  border-radius: 5px;
  border: none;
  padding: 12px 24px;
  background-color: rgb(29, 66, 48) !important;
  color: white !important;
  font-weight: bolder;
  transition: all 0.2s;
}
.hj-job-search #JobSearch_default .form-widget-container .form-widget .hj-button:hover {
  background-color: #2c6349 !important;
  cursor: pointer;
}
.hj-job-search .endwidgets {
  display: none;
}

.hj-job-list ol {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hj-job {
  border: none !important;
}/*# sourceMappingURL=style.css.map */