/* Local dev helpers Final */
/* Public */
body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(29, 66, 48);
}

.trac-embed {
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trac-embed {
  color: rgb(29, 66, 48);
}

.hj-grade {
  font-weight: normal;
  background-color: #2c6349;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

#hj-account-menu {
  display: none !important;
}

#hj-feed-wrapper {
  display: flex;
  justify-content: center;
}
#hj-feed-wrapper #hj-jobs-board-content {
  max-width: 1000px;
}

#hj-feed-content nav#hj-menu {
  display: none;
  padding: 20px;
  background: transparent;
  color: white !important;
}
#hj-feed-content nav#hj-menu ul {
  list-style: none;
}
#hj-feed-content nav#hj-menu ul li {
  text-align: center;
}
#hj-feed-content nav#hj-menu ul li a {
  background-color: inherit !important;
  color: rgb(29, 66, 48) !important;
}

#hj-loading-section {
  display: none;
}

#hj-select-sector {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#hj-select-sector h2:nth-child(1) {
  text-align: center;
}
#hj-select-sector div[style*="margin: 1rem; padding: 1.2rem; border: 1px solid lightgrey; font-size: 1.2rem; line-height: 1; text-align: center; background-color: yellow;"] {
  margin: 0 !important;
  border-radius: 10px;
  background-image: linear-gradient(225deg, rgb(210, 226, 218), rgb(255, 255, 255));
}
#hj-select-sector div[style*="margin: 1rem; padding: 1.2rem; border: 1px solid lightgrey; font-size: 1.2rem; line-height: 1; text-align: center; background-color: yellow;"] a {
  color: rgb(29, 66, 48);
}
#hj-select-sector ul.clearfix {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 0;
}
#hj-select-sector ul.clearfix li {
  list-style: none;
  width: 300px;
  border-top-right-radius: 100px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.33);
  transition: all 0.2s;
}
#hj-select-sector ul.clearfix li:hover {
  box-shadow: -4px 4px 19px -7px rgba(0, 0, 0, 0.27);
}
#hj-select-sector ul.clearfix li a {
  text-decoration: none !important;
  color: rgb(29, 66, 48) !important;
}
#hj-select-sector ul.clearfix li .hj-css-sector-icon {
  background-color: transparent !important;
  transition: all 0.2s;
  height: 100% !important;
}
#hj-select-sector ul.clearfix li .hj-css-sector-icon:hover {
  background: rgb(29, 66, 48) !important;
  background-image: linear-gradient(71deg, #1d4230 0%, #4d7c66 100%);
  color: white !important;
}
#hj-select-sector ul.clearfix li .hj-css-sector-icon .hj-css-icon {
  height: 300px;
}
#hj-select-sector ul.clearfix li .hj-css-sector-icon .hj-css-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 100px;
}
#hj-select-sector ul.clearfix li .hj-css-sector-icon div:nth-child(2) {
  padding: 20px;
  text-align: center;
}
#hj-select-sector ul.clearfix li .hj-css-sector-icon h3 {
  margin: 0;
  color: inherit !important;
}

#hj-select-sector .hj-css-sector-icon:hover h3 {
  background-color: inherit !important;
  color: inherit !important;
}

.hj-job-search #JobSearch_default {
  border: none;
  padding: none;
}
.hj-job-search #JobSearch_default .form-widget-container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.hj-job-search #JobSearch_default .form-widget-container .form-widget {
  display: flex !important;
  flex-direction: column;
  gap: 20px;
}
.hj-job-search #JobSearch_default .form-widget-container .form-widget input {
  padding: 5px;
}
.hj-job-search #JobSearch_default .form-widget-container .form-widget .form-control {
  color: rgb(29, 66, 48);
}
.hj-job-search #JobSearch_default .form-widget-container .form-widget .hj-button {
  border-radius: 5px;
  border: none;
  padding: 12px 24px;
  background-color: rgb(29, 66, 48) !important;
  color: white !important;
  font-weight: bolder;
  transition: all 0.2s;
}
.hj-job-search #JobSearch_default .form-widget-container .form-widget .hj-button:hover {
  background-image: linear-gradient(71deg, #1d4230 0%, #4d7c66 100%);
  cursor: pointer;
}
.hj-job-search .endwidgets {
  display: none;
}

#hj-main-section {
  padding-top: 200px;
}
#hj-main-section .breadcrumbs {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  background: linear-gradient(225deg, rgb(210, 226, 218), rgb(255, 255, 255)) !important;
  padding: 20px;
  border: 1px solid rgb(29, 66, 48);
  border-radius: 10px;
}
#hj-main-section .breadcrumbs a {
  color: rgb(29, 66, 48);
  text-decoration: none;
}
#hj-main-section .breadcrumbs a:hover {
  text-decoration: underline;
}
#hj-main-section .breadcrumbs li.current {
  font-weight: bold;
}

nav.recordset-pager ul.pagination {
  list-style: none;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  width: 100%;
}
nav.recordset-pager ul.pagination li .ic-pager-previous-set,
nav.recordset-pager ul.pagination li .ic-pager-next-set {
  display: none;
}
nav.recordset-pager ul.pagination a {
  color: rgb(29, 66, 48) !important;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 50px;
}
nav.recordset-pager ul.pagination a:hover {
  text-decoration: underline;
}
nav.recordset-pager li.active a {
  background-color: rgb(29, 66, 48);
  color: white !important;
}

#hj-job-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#hj-job-list ol {
  display: flex;
  flex-direction: column;
  gap: 50px;
  list-style: none;
  padding: 0;
}
#hj-job-list ol li.hj-job {
  background-image: linear-gradient(225deg, rgb(210, 226, 218), rgb(255, 255, 255));
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(29, 66, 48) !important;
  transition: all 0.2s;
  color: rgb(29, 66, 48);
}
#hj-job-list ol li.hj-job:hover {
  background: linear-gradient(71deg, #1d4230 0%, #4d7c66 100%);
  color: white;
}
#hj-job-list ol li.hj-job:hover .hj-grade {
  background-color: white !important;
  color: rgb(29, 66, 48) !important;
  padding: 5px 10px;
  border-radius: 5px;
}
#hj-job-list ol li.hj-job:hover .hj-job-details {
  border-color: white;
}
#hj-job-list ol li.hj-job a {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-decoration: none;
  color: inherit;
}
#hj-job-list ol li.hj-job a .hj-job-list-entry {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}
#hj-job-list ol li.hj-job a .hj-job-list-entry .hj-jobtitle {
  font-size: x-large;
  font-weight: bold;
}
#hj-job-list ol li.hj-job a .hj-job-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  gap: 10px;
  border-top: 1px solid #2c6349;
  padding: 30px 0;
}
#hj-job-list ol li.hj-job a .hj-job-details .hj-eligibility-note.hj-warning {
  font-weight: bold;
}
#hj-job-list ol li.hj-job a .hj-job-details .hj-job-detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 200px;
}
#hj-job-list ol li.hj-job a .hj-job-details .hj-job-detail .hj-field-caption {
  font-weight: bold;
}
#hj-job-list ol li.hj-job:hover {
  box-shadow: -4px 4px 19px -7px rgba(0, 0, 0, 0.27);
}

.hj-job {
  border: none !important;
}

#hj-job {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#hj-job .hj-job-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
#hj-job .hj-job-title h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
#hj-job #hj-job-summary .row {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 60px;
  flex-wrap: wrap;
}
#hj-job #hj-job-summary .row .front-end-job-summary {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
#hj-job #hj-job-summary .row .front-end-job-summary .caption {
  margin: 0 !important;
  font-weight: bold;
}
#hj-job #hj-job-summary .row .front-end-job-summary .caption::after {
  content: ":";
}
#hj-job #hj-job-summary .row .front-end-job-summary .field-value {
  margin: 0 0 10px 0;
}
#hj-job #hj-job-summary .row .front-end-job-summary .field-value ul {
  padding-left: 20px;
}
#hj-job #hj-job-description .hj-job-title {
  display: block !important;
}
#hj-job #hj-enquiry-html {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  margin-top: 20px;
}
#hj-job #hj-enquiry-html .hj-box-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
#hj-job #hj-enquiry-html .hj-box-content dt {
  margin: 0 !important;
  font-weight: bold;
}
#hj-job #hj-enquiry-html .hj-box-content dt::after {
  content: ":";
}
#hj-job #hj-enquiry-html .hj-box-content dd {
  margin: 0 0 10px 0;
}

.hj-employer-icons {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  align-items: center;
}
.hj-employer-icons h3 {
  width: 100%;
}
.hj-employer-icons a {
  width: 100px;
}
.hj-employer-icons a img {
  width: 100%;
}

#hj-vacancy-docs {
  margin-bottom: 40px;
}
#hj-vacancy-docs .hj-box-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hj-apply-online.hj-button.hj-primary {
  padding: 12px 24px;
  border-radius: 5px;
  background: #2c6349 !important;
  color: white !important;
  text-decoration: none;
  transition: all 0.2s;
  border: 1px solid transparent;
}
.hj-apply-online.hj-button.hj-primary:hover {
  background: linear-gradient(225deg, rgb(210, 226, 218), rgb(255, 255, 255)) !important;
  color: rgb(29, 66, 48) !important;
  border: 1px solid rgb(29, 66, 48);
}/*# sourceMappingURL=style.css.map */